h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6,
// p {
//   margin: 0;
//   font-weight: inherit;
//   font-size: inherit;
// }

// input,
// textarea {
//   border: none;
//   outline: none;
//   background: transparent;
//   font-family: inherit;
//   box-sizing: border-box;
//   resize: none;
// }
